body{
  background-color: #AFCBFF;
}

.allThings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align: center;
  align-self: left;
  margin: 10px;
  padding: 30px;
  background-color: #0E1C36;
}



.game-board {
  display: flex;
  align-self: flex-end;
  flex: 1 auto;
  height auto;
  width: auto;
  margin: 10px;
  padding: 30px;
  background-color: #0E1C36;
}

a {
  background-color: #00bfa5;
}

h2 {
  color: #FFEDE1;
}

h5 {
  color: #FFEDE1;
}

.dealer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-self: flex-start;
}

.playerName {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  text-align: center;
  align-self: flex-end;
}

.cardRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.dealerHandDiv{
  display: flex;
  flex-direction: row;
 justify-content: space-between;
}
.dealerCardRow{
  display: flex;
  flex-direction: row;
   justify-content: space-between;
}
