.allThings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-column {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  align: center;
  align-self: left;
  margin: 10px;
  padding: 30px;
  background-color: #29b6f6;
}

button {
  height: 30px;
  width: 50px;
}

.game-board {
  display: flex;
  align-self: flex-end;
  flex: 1 auto;
  height:600px;
  width: 900px;
  margin: 10px;
  padding: 30px;
  background-color: #009688;
}

a {
  background-color: #00bfa5;
}
